.input-section {
  display: flex;
  flex-direction: row;
  margin: 25px;
}

textarea {
  width: 48vw;
  height: 100px;
  font-size: 24px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs button {
  margin: 25px;
}

.table-info {
  display: flex;
  flex-direction: row;
  margin: 25px;
}

.table-info-row {
  min-width: 20vw;
  max-height: 300px;
  overflow-y: scroll;
}

.table-info-row b {
  font-size: 24px;
}

.result-section {
  margin-left: 25px;
  max-width: 100%;
  overflow-x: scroll;
}
